
/*=============================================
=                 MEDIA QUERIES               =
=============================================*/


/* -- BREAK 1 -- */

@media only screen and (max-width: 600px) {
	.container {
		margin: 0px;
		height: 118vh;
	}
	#card-section {
		width: 100%;
		height: auto;
		background-color: white;
	}
}