@import "normalise";
@import "colors";
@import "typography";
@import "buttons";

body {

    background-color: $background;
}


header {
    height          : 56px;
    width           : 100%;
    background      : $blue500;
    border-bottom   : 1px solid #bbb;
    box-shadow      : 0 2px 6px -4px #999;
    position        : fixed;
    top             : 0;
    z-index         : 10;
}

nav {
    max-width       : 920px;
    height          : 56px;
    margin          : 0 auto;
    padding         : 0 26px;
    display         : flex;
    justify-content : center;
}


.logo { align-self  : center; }

// --- CONTENT AREA --- //
main {
    height      : 100%;
    background-color: $background;
}


.container {
	max-width: 920px;
	height: 100%;
	margin: 100px auto 10px;
	padding: 20px 0;
	text-align: center;
}


#card-section {
	min-height: 250px;
	width: 600px;
	margin: 80px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3);
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

.quote-place {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 60px 0 20px 0;
	width: 90%;
}

.author {
	margin: 16px 8px 20px;
	text-align: right;
}

button {
	height: 48px;
	width: 160px;
	color: white;
	font-size: 1.4em;
	font-family: "Open Sans";
	font-weight: 400;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #5995f0;
	border: 1px solid #aaa;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;


	&:hover {
		background-color: #4286ee;
		box-shadow: 0 8px 10px 0 rgba(99, 99, 99, 0.4), 0 8px 16px 0 rgba(99, 99, 99, 0.4);
		
}

	&:active {
  transform: scale(0.94);
	}
}

#tweet {
	width: 60px;
	font-size: 1.3em;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #5995f0;
	border: 1px solid #aaa;
	border-radius: 6px;
	padding: 5px;
	margin-bottom: 100px;
	background: white;
	color: #2f2f2f;
	box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	i {
		font-size: 2em;
		color: #00aced;
	}
	&:hover {
		box-shadow: 0 8px 10px 0 rgba(99, 99, 99, 0.4), 0 8px 16px 0 rgba(99, 99, 99, 0.4);
	}
	
	&:active {
  transform: scale(0.94);
	}
}


button:focus,
a:focus {
     outline: none;
}

// --- FOOTER --- //
footer{
    height          : 36px;
}

footer {
    background      : $footer;
    display         : table;
    width           : 100%;
    text-align      : center;
}

.built {
    display         : table-cell;
    vertical-align  : middle;
    color           : $close;
}

@import "media-queries";